.App {
  text-align: center;
 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background: linear-gradient(to bottom, #000066 0%, #333399 100%);
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
/*some css I added*/
input[type="file"] {
    display: inline-block;
}

.table {
      max-width: 90%;
      margin: 10px;
}
.table th {
    text-align: center;
    
  background-color: #333399;
  color: white;
}
.table tr:nth-child(even){background-color: #f2f2f2;}
/*end of my css*/
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
